.flag {
    width: 50px;
    padding: 5px;
}

h4 {
  font-family: Nunito;
  padding: 10px;
}

.next {
    margin-top: 15px;
    border: 0;
    background-color: #107AB0;
    padding: 6px 12px;
    color: white;
    border-radius: 6px;
  font-family: Work Sans light;
  cursor: pointer;
}

.next:hover {
    background-color: #136791;
}